<mat-form-field class="search-field">
  <mat-chip-list #chipList>
    <mat-chip
      *ngFor="let activity of activities"
      [selectable]="selectable"
      [removable]="removable"
      (removed)="remove(activity)">
      {{activity}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input
      placeholder="Search activities..."
      #activityInput
      [formControl]="activityCtrl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]="addOnBlur"
      (matChipInputTokenEnd)="add($event)">
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let activity of filteredActivities | async" [value]="activity">
      {{activity}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>

Search for activities only in range of {{range}} km.
<mat-slider class="rangeSlider" thumbLabel tickInterval="1" min="1" max="300"
            (valueChange)="range = $event; showResults()" [value]="range"></mat-slider>
