<h1 mat-dialog-title>{{data.place.name}}</h1>
<div mat-dialog-content>
  <table>
    <tr>
      <td>URL</td>
      <td><a [href]="data.place.url" target="_blank">{{data.place.url}}</a></td>
    </tr>
    <tr>
      <td>Address</td>
      <td>{{data.place.address.street}}<br>{{data.place.address.zipCode}}, {{data.place.address.city}}</td>
    </tr>
    <tr>
      <td>Distance</td>
      <td>{{data.place.distance | number:'1.2-2'}} km</td>
    </tr>
  </table>
  <h3>Activities</h3>
  <ul>
    <li *ngFor="let activity of data.place.activities">{{activity}}</li>
  </ul>
</div>
<div mat-dialog-actions>
  <button mat-button cdkFocusInitial (click)="dialogRef.close()">Close</button>
  <a href="#" target="_blank" class="inner-link"><img src="assets/img/share.png" height="30"/></a>
  <a target="_blank" ng-attr-target="_blank"
    href="https://www.google.com/maps/dir/?api=1&origin={{data.myLocation.lat}},{{data.myLocation.lng}}&destination={{data.place.coordinates.lat}},{{data.place.coordinates.lng}}"
    class="inner-link">
    <img src="assets/img/way.svg" height="30"/>
  </a>
</div>
